body{
    background-color: #eeeee4;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    padding-right: 5%;
}
.navigation{
    align-items: center;
    text-align: center;
}
.local{
    text-align: center;
}
.title{
    text-align: center;
}
.statement{
    text-align: center;
}
.video{
    justify-content: center;
    align-items: center;
}
.tips{
    background-color: white;
    align-items: center;
    padding: 2%;
}
.story{
    text-align: center;
}
.benefits{
    text-align: center;
    background-image: url(benefits.jpg);
    background-size: 100%;
    padding: 3%;
    color: white;
}
.description{
    background-color: white;
    padding: 3%;
}
.recipes{
    text-align: center;
    background-image: url(cooking.jpg);
    background-size: 100%;
    padding: 3%;
    color: white;
}
.flatbread{
    background-image: url(pizza.jpg);
    background-size: 100%;
    padding: 50%;
    size-adjust: 30%;
    color: #eeeee4;
    align-items: center;
    text-align: center;
}
.pancakes{
    background-image: url(pancakes.jpg);
    background-size: 100%;
    padding: 40%;
    size-adjust: 40%;
    color: white;
    align-items: center;
    text-align: center;
}
.pie{
    background-image: url(pie.webp);
    background-size: 120%;
    padding: 40%;
    size-adjust: 40%;
    color: white;
    align-items: center;
    text-align: center;
}
/*
.navigation{
    text-align: center;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 5%;
    left: 20%;
    right: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
}
.local{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    font-size: large;
}
.title{
    text-align: center;
    position: absolute;
    top: 16%;
    left: 20%;
    right: 20%;
    font-size: larger;
}
.statement{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    font-size: large;
}
.video{
    position: absolute;
    top: 40%;
    left: 10%;
}
.tips{
    background-color: white;
    width: 300px;
    position: absolute;
    right: 10%;
    top: 40%;
    padding: 2%;
    font-size: larger;
}
.story{
    position: absolute;
    right: 45%;
    left: 8%;
    top: 70%;
    padding: 2%;
    font-size: larger;
}
.benefits{
    text-align: center;
    background-image: url(benefits.jpg);
    background-size: 100%;
    padding: 3%;
    color: white;
}
.description{
    background-color: white;
    padding: 3%;
}
.shop{
    text-align: center;
    background-image: url(shopimage.jpg);
    background-size: 100%;
    padding: 3%;
}
.recipes{
    text-align: center;
    background-image: url(cooking.jpg);
    background-size: 100%;
}
.flatbread{
    background-image: url(pizza.jpg);
    background-size: 100%;
    padding: 10%;
    size-adjust: 20%;
    color: #eeeee4;
    position: absolute;
    left: 10%;
    top: 10%;
}
