body{
    background-color: #eeeee4;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5%;
    padding-right: 5%;
}
.navigation {
    background-color: lightblue;
    overflow: hidden;
  }
    .navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
    .navigation a:hover {
    background-color: #ddd;
    color: black;
  }
    .navigation a.active {
    background-color: #04AA6D;
    color: white;
  }
.local{
    text-align: center;
}
.title{
    text-align: center;
}
.statement{
    text-align: center;
}
.video{
    justify-content: center;
    align-items: center;
    max-width: fit-content;
}
.tips{
    background-color: white;
    align-items: center;
    padding: 2%;
}
.story{
    text-align: center;
    background-color: #c6d7b9;
    padding: 2%;
}
.benefits{
    text-align: center;
    background-image: url(benefits.jpg);
    background-size: 100%;
    padding: 3%;
    color: white;
}
.description{
    background-color: white;
    padding: 3%;
}
.recipes{
    text-align: center;
    background-image: url(cooking.jpg);
    background-size: 100%;
    padding: 3%;
    color: white;
}
.flatbread{
    background-image: url(pizza.jpg);
    background-size: 120%;
    padding: 40%;
    size-adjust: 40%;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.pancakes{
    background-image: url(pancakes.jpg);
    background-size: 100%;
    padding: 40%;
    size-adjust: 40%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.pie{
    background-image: url(pie.webp);
    background-size: 99%;
    background-position: 40%;
    padding: 40%;
    size-adjust: 40%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.cupcake{
    background-image: url(cupcake.webp);
    background-size: 99%;
    padding: 40%;
    size-adjust: 50%;
    color: black;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.pecans{
    background-image: url(pecans.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 50%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
a:link{
    color:white;
    text-decoration: none;
    stroke: black;
    stroke-width: 300%;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
.contact{
    background-image: url(field.webp);
    text-align: center;
    background-size: 100%;
    padding: 3%;
    color: white;
    background-position: 50%;
}
.shop{
    background-image: url(shoppingbackground.webp);
    text-align: center;
    background-size: 100%;
    padding: 3%;
    color: black;
    background-position: 50%;
}
.honey1{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.honey2{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.honey3{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.honey4{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.honey5{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.honey6{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
.honey7{
    background-image: url(jar.webp);
    background-size: 100%;
    padding: 40%;
    size-adjust: 10%;
    color: white;
    align-items: center;
    text-align: center;
    font-size: x-large;
}
/*
.navigation{
    text-align: center;
    text-decoration: none;
    color: black;
    position: absolute;
    top: 5%;
    left: 20%;
    right: 20%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: space-between;
}
.local{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 20%;
    right: 20%;
    font-size: large;
}
.title{
    text-align: center;
    position: absolute;
    top: 16%;
    left: 20%;
    right: 20%;
    font-size: larger;
}
.statement{
    text-align: center;
    position: absolute;
    top: 25%;
    left: 20%;
    right: 20%;
    font-size: large;
}
.video{
    position: absolute;
    top: 40%;
    left: 10%;
}
.tips{
    background-color: white;
    width: 300px;
    position: absolute;
    right: 10%;
    top: 40%;
    padding: 2%;
    font-size: larger;
}
.story{
    position: absolute;
    right: 45%;
    left: 8%;
    top: 70%;
    padding: 2%;
    font-size: larger;
}
.benefits{
    text-align: center;
    background-image: url(benefits.jpg);
    background-size: 100%;
    padding: 3%;
    color: white;
}
.description{
    background-color: white;
    padding: 3%;
}
.shop{
    text-align: center;
    background-image: url(shopimage.jpg);
    background-size: 100%;
    padding: 3%;
}
.recipes{
    text-align: center;
    background-image: url(cooking.jpg);
    background-size: 100%;
}
.flatbread{
    background-image: url(pizza.jpg);
    background-size: 100%;
    padding: 10%;
    size-adjust: 20%;
    color: #eeeee4;
    position: absolute;
    left: 10%;
    top: 10%;
}
.navigation{
    align-items: center;
    text-align: center;
    background: pink;
    padding: 5%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}
.navigation a:hover{
    background-color: pink;
}
.navigation a{
    float: inline-start;
    text-align: center;
}